@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
*{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
}

table{
    border-collapse: collapse;
}

td{
    padding: 10px 20px;
    border: 1px solid grey;

}

.remove{
    background-color: black;
    color: white;
    font-weight: 600;
    content: '+';
    text-align: center;
}